body {
    background-color: #FFF;
    font-family: 'Varela Round', sans-serif;
}




h1 {
    text-align:center;
    text-transform:uppercase;
    letter-spacing:-2px;
    font-size:2.5em;
    margin:20px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 70%;
  }
  h2,h3,h4,h5, h6{
      font-family: Arial, Helvetica, sans-serif;
      margin: auto;
  }

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: flex;
    margin: 25px auto;
}

.k-card {
    width: 3in;
    height: fit-content;
    margin: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(202, 199, 199);
    border-radius: 10px;
    box-shadow: 5px 0.4em 0.4em gray;
    background-color: #FFF;
    position: inherit;
}

.k-card-footer {
    text-align: 0px auto;
}

.k-card-body {
    margin: 10px 10px 10px 10px;
    font-size: 0.9rem;
    color: black;
    font-family: Helvetica;
    text-align: justify;
}

@supports(object-fit: fill) {
    .k-card-image {
        margin: 0 auto;
        margin-top: 15px;
        padding: auto;
        width: 2.9in;
        height: 1.8in;
        display: -webkit-flex;
        border-style: solid;
        border-color: lightgray;
        border-width: 1px;
    }
}

.logo-b1 {
    height: 150px;
}

.barra {
    margin: 0 auto;
    position: static;
}
.k-appbar .k-button {
    border-style: none;
    background-color: inherit;
}
.k1{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.video{
    display: fixed;
    margin: 0 auto;
}
.barraProgreso{
    width: 65%;
    margin-right: 25px;
    display: flex;
}
#profileCompleteness {
    width: 100%;
}

.forms {
    list-style-type: none;
    padding: 2em 0 0;
    margin: 0;
}

.forms label {
    display: block;
    font-size: 12px;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.forms li {
    margin-bottom: 1.5em;
}
