
body {
    font-family: 'Varela Round', sans-serif;
    justify-content: center;
    background:  #EAECE8;
}


  
#scrollView .photo {
    display: inline-block;
    height: 100%;
    width: 33%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.photo1 {
    background-image: url("../imagenes/Marketing.jpg");
}

.photo2 {
    background-image: url("../imagenes/BD.png");
}

.photo3 {
    background-image: url("../imagenes/Web.png");
}

.photo4 {
    background-image: url("../imagenes/Programacion.jpg");
}

.photo5 {
    background-image: url("../imagenes/Redes.png");
}

.photo6 {
    background-image: url("../imagenes/Ciberseguridad.jpg");
}
    