.body1{
    background: rgb(0,79,82);
      background: linear-gradient(0deg, rgba(0,79,82,1) 55%, rgba(16,166,101,1) 100%);
}
body {
    font-family: 'Varela Round', sans-serif;
    justify-content: center;
}

#container {
    max-width: 90%;
    max-height: fit-content;
    margin: auto;
}

#scrollView .photo {
    display: inline-block;
    height: 100%;
    width: 33%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.photo1 {
    background-image: url("../imagenes/Marketing.jpg");
}

.photo2 {
    background-image: url("../imagenes/BD.png");
}

.photo3 {
    background-image: url("../imagenes/Web.png");
}

.photo4 {
    background-image: url("../imagenes/Programacion.jpg");
}

.photo5 {
    background-image: url("../imagenes/Redes.png");
}

.photo6 {
    background-image: url("../imagenes/Ciberseguridad.jpg");
}

#Titulo,
#Subtitulo {
    text-align: center;
}

#Subtitulo {
    margin-bottom: 25px;
}

#Fila1,
#Fila2 {
    text-align: center;
}


.btn-neon{
    position: relative;
    display: inline-block;
   
    color: #fff;
    letter-spacing: 4px;
    font-size: 14px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
     background: #0F97A9;
}

.btn-neon:hover{
    background: #069229;
    box-shadow: 0 0 10px #0F97A9, 0 0 40px #0F97A9, 0 0 80px #0F97A9;
    transition-delay: 0s;



}

.btn-neon span{

    position: absolute;
    display: block;

}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a945c7);

}

.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;

}


#span3{
  bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#a945c7);

}

.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
    
}

#span2{
    top: -100%;
      right: 0;
      width: 2px;
      height: 100px;
      background: linear-gradient(180deg,transparent,#a945c7);
  
  }
  
  .btn-neon:hover #span2{
     top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }

  #span4{
   bottom: -100%;
     left: 0;
      width: 2px;
      height: 100px;
      background: linear-gradient(360deg,transparent,#a945c7);
  
  }
  
  .btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }

  .nav{
      width: 100%;
      height: 75px;
      background-color: #3A85F3;
      line-height: 75px;
      padding: 0px 30px;
      position: fixed;
      z-index: 1;
      margin-top: 5%;
  }
  .nav.logo{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.5px;

  }

  nav ul{
      float: right;
      
  }
 

 nav ul ol{
     display:inline-flex;
   
 }


 nav ul ol a{
     color: #fff;
     text-decoration: none;
     font-size: 18px;
     text-transform: uppercase;
     padding: 0px 30px;
 }

 nav ul ol a:hover{
     color: #c0d96f;
 }

 nav ul ol .active{
     color: #c0d96f;
 }

/* burbujas */

.burbuja{
    border-radius: 50%;
    background: rgb(189, 195, 196);
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 6s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 3.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 9s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 8s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 8s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 10s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 6s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 6s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}


.footer{
    background-color: #3A85F3 ;
}

     