*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Varela Round', sans-serif;
    justify-content: center;
    background:  #EAECE8;
    overflow-x:hidden;
}
h1{
    
    text-align: center;
    display: inline-block;
    position: relative;
    font-size: 35px;
}

h1::after,h1::before{
   
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #B15D28;
    top: 0.6em;
    
}

h1::before{
    left: -140px;
    
}

 h1::after{
    right: -140px;
    
}
.container{
    display: flex;
 justify-content: center;
 flex-wrap: wrap;
}


.card2{
    background-color: #2C2635;
    color: white;
    width: 310px;
  
    box-shadow: 0 2px 2px rgba(0,0,0, 0.2);
    text-align: center;
   margin: 10px;
   border-radius: 15px;
}

/*

.img1{
    background-image: url(/resources/imagenes/Adminsemillero.png);
}
.img2{
    background-image: url(semillero.png);
}
.img3{
    background-image: url(cursos.png);
}*/
.card2 p{
    padding: 5px;
    font-size: 20px;
}
/*.card a{
    background-color: black;
    color: blanchedalmond;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}*/

.card2:hover{
    background-color:#203853;
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
.botoncurso{
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.botoncurso{
    padding: 9px 25px;
    background-color: #B15D28;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.botoncurso:hover{
    background-color: white;
}