/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-ago-2021, 15:24:23
    Author     : Karina Romero
*/
.body1 {
    font-family: 'Varela Round', sans-serif;
    justify-content: center;
    background:  #EAECE8;
}

h1 {
    text-align:center;
    text-transform:uppercase;
    letter-spacing:-2px;
    font-size:2.5em;
    margin:20px 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 70%;
}
h2,h3,h4,h5, h6{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: flex;
    margin: 25px auto;
}

.k-card {
    width: 3in;
    height: fit-content;
    margin: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(202, 199, 199);
    border-radius: 10px;
    box-shadow: 5px 0.4em 0.4em gray;
    background-color: #2C2635;
    position: inherit;
}

.k-card-footer {
    text-align: 0px auto;
}

.k-card-body {
    margin: 10px 10px 10px 10px;
    font-size: 0.9rem;
    color: white;
    font-family: Helvetica;
    text-align: justify;
}

@supports(object-fit: fill) {
    .k-card-image {
        margin: 0 auto;
        margin-top: 15px;
        padding: auto;
        width: 2.9in;
        height: 1.8in;
        display: -webkit-flex;
        border-style: solid;
        border-color: lightgray;
        border-width: 1px;
    }
}

