*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #203853;
    font-family: 'Roboto', 'Sans serif';
}

.contenedor{
    width: 100%;
    max-width: 1200px;
}









