
body {
    background:  #EAECE8;
    font-family: 'Varela Round', sans-serif;
}


.contenedor{
    width: 100%;
    padding: 15px;
}

#video {
    width: 50%;
    height: 100%;
    float: left;
}
#exampleform{
    font: bold 1em sans-serif;
}

#logo {
    width: 50%;
    height: 50%;
}

#multimedia{
    width: 100%;
    height: 100%;
    margin-top: 2%;
    margin-left: 13%;
   
}
h2{
  
   font-size: 4.9vw;
    color:  #6e054b;
    -webkit-text-stroke: 0.3vw #8a095f;
    text-transform: uppercase;

}
h2::before{
   content: attr(data-text);
   position: absolute;
   top:30%;
   left:1%;
   width: 0;
   height: 50%;
   color: black;
   -webkit-text-stroke: 0vw #8a095f;
  
   overflow: hidden;
    animation: animate 15s linear infinite;

}
@keyframes animate{
    0%,10%,60%
    {
        width:0;
    }
    70%
    {
        width:100%;
    }
}


#contraseña {
    width: 30%;
    height: 100%;
    margin-top: 10%;
    border: 20%;
}

.link {
    margin-left: 27%;
    font: 1em sans-serif;
    color: black;
    cursor: pointer;
}
#exampleform1{
    font: bold 1em sans-serif;
}
