*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(169, 0, 0, 0.8);
}


/*boton neon*/
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    align-items: center;
}

.btn-neon:hover{
    background: #069229;
    box-shadow: 0 0 10px #069229, 0 0 40px #069229, 0 0 80px #069229;
    transition-delay: 0s;



}

.btn-neon span{

    position: absolute;
    display: block;

}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a945c7);

}

.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;

}


#span3{
  bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#a945c7);

}

.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
    
}

#span2{
    top: -100%;
      right: 0;
      width: 2px;
      height: 100px;
      background: linear-gradient(180deg,transparent,#a945c7);
  
  }
  
  .btn-neon:hover #span2{
     top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }

  #span4{
   bottom: -100%;
     left: 0;
      width: 2px;
      height: 100px;
      background: linear-gradient(360deg,transparent,#a945c7);
  
  }
  
  .btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }



label.logo {
    font-size: 35px;
    font-weight: bold;
    color: rgba(255, 250, 250, 0);
    padding: 0 50px;
    line-height: 80px;
    
}
.box {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input.src {
    padding: 4px 10px 4px 32px;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid gray;
    flex-wrap: wrap;
}
#perfil {
    width: 10%;
    float: right;
    margin-top: 1.5%;
    margin-right: 3%;
}

#multimedia {
    margin-top: 7%;
    margin-left: 400px;
}



