/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-ago-2021, 17:01:02
    Author     : Karina Romero
*/
/*Header*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header{
    background-color: #203853;
    width: 100%;
    height: 145px;
    border-bottom: solid 3px #B15D28;
    font-family: 'Poppins';
}
header .encabezado{
    width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    display: block;
    margin: 0 auto;
}
header .logo{
    display: table;
    height: 100%;
    float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img{
    height: 110px;
    margin-top: -15px; /* Optical alignment of the logo */
}
header nav{
    float: right;
    height: 100%;
}

header nav li{
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

header nav li:last-of-type{
    margin-right: 0;
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a{
    color: white
}
header nav .cta{
    background-color: #B15D28; /* This HEX is the color of the button */
    color: black;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .cta:hover{
    background-color: white;
    color: black;
    filter: brightness(1.05);
}
