/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/08/2021, 04:15:05 PM
    Author     : Armando Morales
*/
body {
    background-color: #203853;
}
.form {
    font: bold 1em sans-serif;
    background: rgb(255, 255, 255); 
    /*background: linear-gradient(35deg, rgba(197, 7, 214, 0.432) 0%, rgba(0, 0, 0, 0.747) 49%, rgb(0, 0, 0) 100%)*/
    width: 25%;
    height: 100%;
    margin-top: 10%;
    margin-right: 0%;
    border-radius: 5%;
    padding: 3%;
    /*float: right; */
}
.contenedor{
    width: 100%;
    padding: 2%;
}
.form .avatar {
    width: 190px;
    height: 190px;
    border-radius: 100%;
    border: solid 5px #B15D28;
    margin-top: -37%;
    left: calc(-50% - 50px);
}
#logo {
    width: 50%;
    height: 50%;
}
.primary {
    position: center;
    border: none;
    outline: none;
    width: 70%;
    margin-bottom: 5px;
    font-size: 22px;
    background: #B15D28;
    border-radius: 15px;
    cursor: pointer;
}
.primary:hover{
    color: white;
    background: #203853;
    border-radius: 15px;
}
.k-secundary {
    border: none;
    outline: none;
    width: 74%;
    margin-bottom: 5px;
    font-size: 22px;
    background: #B15D28;
    border-radius: 15px;
    cursor: pointer;
}
.k-secundary:hover{
    color: white;
    background: #203853; 
    border-radius: 15px;
}

#contraseña {
    width: 30%;
    height: 100%;
    margin-top: 10%;
    border: 20%;
}

.link {
    margin-left: 0%;
    font: 1em sans-serif;
    color: black;
    cursor: pointer;
}
#exampleform1{
    font: bold 1em sans-serif;
}

