/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-ago-2021, 15:30:23
    Author     : Karina Romero
*/
body {
    background-color: #203853
}
.form {
    font: bold 1em sans-serif;
    background: rgba(8, 8, 8, 0.404);
    /*background: linear-gradient(35deg, rgba(197, 7, 214, 0.432) 0%, rgba(0, 0, 0, 0.747) 49%, rgb(0, 0, 0) 100%)*/
    width: 25%;
    height: 100%;
    margin-top: 10%;
    margin-right: 0%;
    border-radius: 5%;
    padding: 3%;
    /*float: right; */
}
.contenedor{
    width: 100%;
    padding: 2%;
}
.form .avatar {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    border: solid 4px #B15D28;
    margin-top: -37%;
    left: calc(-50% - 50px);
}
#logo {
    width: 50%;
    height: 50%;
}
.primary {
    margin: 0 auto;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 5px;
    font-size: 22px;
    background: #0066CC;
    border-radius: 15px;
    cursor: pointer;
}
.primary:hover{
    background: #B15D28;
    border-radius: 15px;
}
.k-secundary {
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 5px;
    font-size: 22px;
    background: #0066CC;
    border-radius: 15px;
    cursor: pointer;
}
.k-secundary:hover{
    background: #B15D28; 
    border-radius: 15px;
}

#contraseña {
    width: 30%;
    height: 100%;
    margin-top: 10%;
    border: 20%;
}

.link {
    margin-left: 0%;
    font: 1em sans-serif;
    color: rgb(252, 252, 252);
    cursor: pointer;
}
#exampleform1{
    font: bold 1em sans-serif;
}