/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-ago-2021, 17:57:49
    Author     : Karina Romero
*/
h1,h2{
    font-size: 40px;
    margin: auto;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-top: 50px;
}

p {
    font-size: 20px;
    line-height: 30px;
    width: 80%;
    margin: auto;
    margin-left: 60px;
}
/* burbujas */
.burbuja{
    border-radius: 50%;
    background: rgb(189, 195, 196);
    opacity: .3;

    position: absolute;
    bottom: -150;

    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 6s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 3.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 9s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 6s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 8s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 8s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 10s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 6s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 6s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
.footer-wrapper {
    background:#2F4F4F;/*Color de fondo del pie de página*/
    padding-top: 30px;/*Altura del pie de página*/
    padding-bottom: 40px;/*Altura del pie de página*/
    width: 100%;
    text-align: center;
    font: normal normal 11px Arial;/*Tipografía y Tamaño*/
    color:white;/*Color del texto del pie de página*/
    text-transform: uppercase;/*Esta línea decódigo es para poner las letras en mayúsculas */
    letter-spacing: 2px;/*Espacio entre letras*/
}



