/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-sep-2021, 15:54:34
    Author     : Karina Romero
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #203853;
    border-bottom: solid 3px #B15D28;
    color: white;
    font-family: 'Poppins';
}
 nav .cta{
    background-color: #B15D28; /* This HEX is the color of the button */
    color: #FFF;
    padding: 10px 20px;
    border-radius: 0px;
    cursor: pointer;
}
 nav .cta:hover{
    background-color: white; /* This HEX is the color of the button */
    color: black;
}
 .logo{
    display: table;
    height: 100%;
    float: left;
    margin-left: 5%;
}

 .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.logo img{
    height: 120px;
    margin-top: 5%; /* Optical alignment of the logo */
}
.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
    margin-right: 5%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    
}

.navbar-links li:hover {
    background-color: #B15D28;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
        margin-top: 8%;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}