body {

    font-family: 'Varela Round', sans-serif;
    color: rgb(0, 144, 211);
}

#container {
  

}



#nombreC{
width: 50%;
}

form p{
    text-align: center;
}

#pmodulos {
    margin-left: 21%;
}

