body {
    font-family: 'Varela Round', sans-serif;
    justify-content: center;
    background:  #EAECE8;
}

.logo-b1 {
    height: 150px;
}
h1 {
    text-align:center;
    text-transform:uppercase;
    letter-spacing:-2px;
    font-size:2.5em;
    margin:20px 0;
    color: black;
  }
  h2,h3,h4,h5, h6{
      font-family: Arial, Helvetica, sans-serif;
      margin: auto;
  }
.barra {
    margin: 0 auto;
    position: static;
}
.k-appbar .k-button {
    border-style: none;
    background-color: inherit;
}
.k1{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}
.video{
    display: fixed;
    margin: 0 auto;
}
.barraProgreso{
    width: 65%;
    margin-right: 25px;
    display: flex;
}
#profileCompleteness {
    width: 100%;
}

.forms {
    list-style-type: none;
    padding: 2em 0 0;
    margin: 0;
}

.forms label {
    display: block;
    font-size: 12px;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.forms li {
    margin-bottom: 1.5em;
}

.bar {
    margin-left: 20%;
}

#btncurso{
    background-color: #0066CC;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

